Screen {
	layout: grid;
	grid-size: 2 10;
}

.box {
	height: 100%;
}

TMarkdown {
	height: 100%;
	border: round $primary;
}

# code-blocks
MarkdownFence {
	background: transparent;
	border: none;
}

TPrompt {
	row-span: 6;
}

TPromptList {
	row-span: 6;
}

TBlahBlah {
	row-span: 4;
}

TFunctionList {
	row-span: 3;
}

TPaths {
	row-span: 1;
}
